<app-agent-bo></app-agent-bo>

<br>
<br>
<br>
<br>

<!-- <div class="container">
<form>
<div class="input-group pb-modalreglog-input-group">
    <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
    <input type="text" class="form-control"  placeholder="Merci de saisir le n° PO" style="width: 10px; border-radius: 6px;" id="po" name="poo" [(ngModel)]='po' >
</div>
<br>
<button type="button" class="btn btn-secondary"  style="border-radius: 20px;" (click)="getFacture()">Workflow</button>


</form>
</div> -->
<!-- placeholder="Merci de saisir le n° PO" -->

<div class="container">
    <form>
        <input type="text" class="form-control"  
         style="width: 15%; border-radius: 6px;" placeholder="Saisir le n° PO" id="po" name="poo" [(ngModel)]='po' >
  <br>
      <button type="button" class="btn btn-secondary"  style="border-radius: 20px;" (click)="getFacture()">Workflow</button>

    </form>
  </div>


 
<br>
<br>
<br>
<br>
<br>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="main-timeline">
                <div class="timeline">
                    <a class="timeline-content">
                        <h3 class="title">Agent trésorerie</h3>
                        <ul>
                            <li *ngIf="validationtreso" style="text-align: left;">Validé par l'agent trésorerie le: <b>{{factureWfDetails.theTresoValidationDate}}</b>
                                par <b>{{factureWfDetails.whoTresoHasValidated}}</b></li>

                        </ul>
                    </a>
                </div>
                <div class="timeline">
                    <a  class="timeline-content">
                        <h3 class="title">Agent AP</h3>
                        <ul>
                            <li *ngIf="validationAp" style="text-align: left;">Envoyée au l'agent trésorerie le: <b>{{factureWfDetails.datValidationParAp}}</b>
                                par <b>{{factureWfDetails.whoApHasValidated}}</b></li>
                            <li *ngIf="refustreso" style="text-align: left;">Refus par l'agent trésorerie le: <b>{{factureWfDetails.dateRefusParTreso}}</b>
                                par <b>{{factureWfDetails.whoTresoHasRefuse}}</b></li>

                        </ul>

                    </a> 
                </div>
                <div class="timeline">
                    <a  class="timeline-content">
                        <h3 class="title">Agent BOF</h3>
                       
                            <ul>
                                <li style="text-align: left;">Reçue le: <b>{{factureWfDetails.datereception}}</b>, crée par <b>{{factureWfDetails.created_by}}</b> </li>
                                <li *ngIf="refusAp" style="text-align: left;">Refus par l'agent AP le: <b>{{factureWfDetails.dateRefusParAp}}</b>
                                     par <b>{{factureWfDetails.whoApHasRefuse}}</b></li>

                            </ul>

                       
                    </a>
                </div>
            </div>
        </div> 
    </div>
</div>

<br>
<br>
<br>
<br>