<app-agent-bo></app-agent-bo>
<br>
<div class="tools">
<button type="button" title="Créer" class="btn btn-light pb-modalreglog-submit" (click)="bordereauModal(bordereauToCreate)" data-toggle="modal" data-target="#myModalcr"
style="margin-left:70em;width:1em;display:inline-block;"  ><img src="../../../assets/images/addBordereau.png"  
               style="border-radius: 10px; border-image-width: 5px;">  </button>

         
<button (click)="exportData('Bordereaux3wmtndTable')" style="margin-left:-65em;width:1em;display:inline-block;" >
                    <img src="../../../assets/images/excel.png">
</button>


 



            
              
             
<button (click)="convert()" style="margin-left:8em;display:inline-block;"> <img src="../../../assets/images/pdfDownload.png"></button>
            </div>  
              <br>
               <hr>
<br>

    <nav class="navbar">
        <input class="form-control" type="text" name="searching" [(ngModel)]="firstn" (ngModelChange)="Search()" placeholder="Rechercher par Créateur" style="width: 260px;border-radius: 20px;">
    </nav><br>
    <table id="Bordereaux3wmtndTable" class="table table-bordered table-light table-hover " style="width: 100%;">
        <thead>
          <tr>
            <th  (click)="sort('id')" class="cellules" style="width: 15px;">Id&nbsp;<i class="fa fa-sort" ></i></th>
            <th class="cellules">Nature</th>
            <th class="cellules">Réference</th>

            <th class="cellules">Status</th> 
            <th class="cellules">Créé le</th> 
            <th class="cellules">Créé par</th>              
            <th class="cellules">Actions</th> 



  
 
          </tr>
        </thead>
    <tbody>
        <tr *ngFor="let bord of Bordereaux3wmDevise | orderBy: key: reverse |paginate: {itemsPerPage:5,currentPage:p};">
            <td class="cellules">{{bord.id}}</td>
            <td class="cellules">{{bord.nature}} {{bord.natureRaff}}</td>
            <td class="cellules">{{bord.reference}}</td>
            <td class="cellules">{{bord.status}}</td>
            <td class="cellules">{{bord.createdAt}}</td>
            <td class="cellules">{{bord.createdBy}}</td>
            <td class="cellules">
                <button type="button" title="Envoyer" class="btn btn-light pb-modalreglog-submit"   
                 data-toggle="modal" (clic)="showUserModal(bord)"  data-target="#apmodal"><img src="../../../assets/images/sendFacture4.png"  
                 style="border-radius: 10px; border-image-width: 5px;">  </button>
                 
                <button type="button" title="Effacer" class="btn btn-light"   (click)="deleteBordereau(bord.id)">  <img  src="../../../assets/images/eff.png"
                      style="border-radius: 10px; border-image-width: 5px;"></button>

               <button type="button" title="Factures" class="btn btn-light pb-modalreglog-submit"   
                      (click)="showFacture()" data-toggle="modal" data-target="#myModalFactures"><img src="../../../assets/images/show factures.png"  
                       style="border-radius: 10px; border-image-width: 5px;">  </button>
                       
                </td>

              

        </tr>
    </tbody>
    <br> 
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </table>


<!--create bordereau-->

    <div class="container pb-modalreglog-container">
        <div class="row">
            <div class="col-xs-12 col-md-4 col-md-offset-4">
                <div class="input-group pb-modalreglog-input-group">
                </div>
                <div class="modal fade" id="myModalcr" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                  <div class="modal-dialog modal-sm" role="document">
                      <div class="modal-content">
                          <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                              </button>
                          </div>
                          <div class="modal-body">
                              <form class="pb-modalreglog-form-reg">
                                  <div class="form-group">
                                      <div id="pb-modalreglog-progressbar"></div>
                                  </div>
                                 
                                  <div class="form-group">
                                      <label for="ref">Référence</label>
                                      <div class="input-group pb-modalreglog-input-group">
                                          <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                                          <input type="text" class="form-control" id="ref" placeholder="Référence" name="ref" [(ngModel)]='bordereauToCreate.reference' readonly>
                                      </div>
                                   </div>
                                  <div class="form-group">
                                      <label for="nature">Nature</label>
                                      <div class="input-group pb-modalreglog-input-group">
                                          <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                                          <input type="text" class="form-control" id="nature" placeholder="Nature" name="nature" [(ngModel)]='bordereauToCreate.nature' readonly>
                                      </div>
                                  </div>
                              </form>
                          </div>
                          <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                              <button type="button" class="btn btn-primary" (click)="createBordereau()">Créer</button>
                          </div>
                      </div>
                  </div>
              </div>
              
              <!--show factures-->

    <div class="container pb-modalreglog-container">
        <div class="row">
            <div class="col-xs-12 col-md-4 col-md-offset-4">
                <div class="input-group pb-modalreglog-input-group">
                </div>
                <div class="modal fade" id="myModalFactures" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                  <div class="modal-dialog modal-sm" role="document" style="max-width: 100%;">
                      <div class="modal-content">
                          <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                              </button>
                          </div>
                          <div class="modal-body">
                             
                            <table id="Facture3wmtndTable" class="table table-bordered table-light table-hover " >
                                <thead>
                                  <tr>
                                    <th  (click)="sort('id')" class="cellules" style="width: 40px;">Id&nbsp;<i class="fa fa-sort" ></i></th>
                                    <th class="cellules">dossier</th>
                                    <th class="cellules">fournisseur</th>
                        
                                    <th class="cellules">Status</th> 
                                    <th class="cellules">montant</th> 
                                    <th class="cellules">num facture</th>
                                    <th class="cellules">num PO</th>              
                                  </tr>
                                </thead>
                            <tbody>
                                <tr *ngFor="let fact of Factures3wmTnd | orderBy: key: reverse |paginate: {itemsPerPage:5,currentPage:p};">
                                    <td class="cellules">{{fact.id}}</td>
                                    <td class="cellules">{{fact.dossier}}</td>
                                    <td class="cellules">{{fact.fournisseur}}</td>
                                    <td class="cellules">{{fact.status}}</td>
                                    <td class="cellules">{{fact.montant}}</td>
                                    <td class="cellules">{{fact.num_fact}}</td>
                                    <td class="cellules">{{fact.num_po}}</td>
                                   
                         
                                </tr>
                            </tbody>
                            <br> 
                            <pagination-controls (pageChange)="p = $event"></pagination-controls>
                            </table>
                          </div>
                          <div class="modal-footer">
                              <div class="tools">
                            <button (click)="exportData('Facture3wmtndTable')" style="margin-left:-5em;width:1em;display:inline-block;" >
                                <img src="../../../assets/images/excel.png"> </button>
                         <button (click)="convert()" style="margin-left:8em;display:inline-block;"> <img src="../../../assets/images/pdfDownload.png"></button>
                        </div>
                          </div>
                      </div>
                  </div>
              </div>




               <div class="container pb-modalreglog-container">
        <div class="row"> 
            <div class="col-xs-12 col-md-4 col-md-offset-4">
                <div class="input-group pb-modalreglog-input-group">
                </div>
                <div class="modal fade" id="apmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                  <div class="modal-dialog modal-sm" role="document" style="max-width: 35%;padding-top: 150px;">
                      <div class="modal-content">
                          <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                              </button>
                          </div>
                          <div class="modal-body" >
 
                            <ngx-bootstrap-multiselect [options]="users" [texts]="myTexts"
                            [settings]="mySettings"  [(ngModel)]="optionsModel"></ngx-bootstrap-multiselect>
                            <br>
                          </div>
                          <div class="modal-footer">
                                <button class="btn btn-primary" (click)="envoyerBordereau()">Envoyer</button>

                          </div>
                      </div>
                  </div>
              </div>
             
             </div></div></div>

             <br><br>
            
           

<br><br>


