<app-adminnavbar></app-adminnavbar>
<br>
<div class="tools">

         
<button (click)="exportData('Facture3wmtndTable')" style="margin-left:-65em;width:1em;display:inline-block;" >
                    <img src="../../../assets/images/excel.png">
</button>

               
            
              
             
<button (click)="convertToPdf()" style="margin-left:8em;display:inline-block;"> <img src="../../../assets/images/pdfDownload.png"></button>
            </div>  
              <br>
               <hr>
<br>

    <nav class="navbar">
        <input class="form-control" type="text" name="searching" [(ngModel)]="firstn" (ngModelChange)="Search()" placeholder="Rechercher par num Po" style="width: 260px;border-radius: 20px;">
    
        <form (ngSubmit)="searchPerDate()">
            <div class="row" >    
                  
            <div class="col-sm-3 form-group" >  
                    
                <input  
                type="text"   
                [(ngModel)]="date.startdate" 
                name="start" 
                id="start" 
                placeholder="De"  
                bsDatepicker
                 class="form-control" /> 
                 
            </div>  
            <div class="col-sm-3 form-group">  
                <input type="text"   
                [(ngModel)]="date.enddate"
                name="end"  
                id="end" 
                placeholder="Au"  
                 
                bsDatepicker  
                [bsConfig]="{ isAnimated: true }"  class="form-control"/>  
            </div>    
            <div class="col-sm-3 form-group">    
                <button type="submit" class="btn btn-success" >Chercher</button>   
            </div>  
          </div> </form> 
    </nav><br>
    <table id="Facture3wmtndTable" class="table table-bordered table-light table-hover " style="width: 100%;">
        <thead>
          <tr>
            <th  (click)="sort('id')" class="cellules" style="width: 15px;">Id&nbsp;<i class="fa fa-sort" ></i></th>
            <th class="cellules">dossier</th>
            <th class="cellules">fournisseur</th>

            <th class="cellules">Status</th> 
            <th class="cellules">montant</th> 
            <th class="cellules">num facture</th>
            <th class="cellules">num PO</th>              
            <th class="cellules">Actions</th> 
          </tr>
        </thead> 
    <tbody>
        <tr *ngFor="let fact of Factures3wmdevise | orderBy: key: reverse |paginate: {itemsPerPage:5,currentPage:p};">
            <td class="cellules">{{fact.id}}</td>
            <td class="cellules">{{fact.dossier}}</td>
            <td class="cellules">{{fact.fournisseur}}</td>
            <td class="cellules">{{fact.status}}</td>
            <td class="cellules">{{fact.montant}}</td>
            <td class="cellules">{{fact.num_fact}}</td>
            <td class="cellules">{{fact.num_po}}</td>
            <td class="cellules"> 
               
                <button type="button" title="Télécharger" class="btn btn-light"   >  <img  src="../../../assets/images/download courrier.png"
                      style="border-radius: 10px; border-image-width: 5px;"></button>
                       
  
                </td>

        </tr>
    </tbody>
    <br> 
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </table>


