<app-adminnavbar></app-adminnavbar>
<br>
<div class="tools">
<button type="button" title="Créer" class="btn btn-light pb-modalreglog-submit" (click)="factureCreateModal(factureToCreate)" data-toggle="modal" data-target="#myModalcr"
style="margin-left:70em;width:1em;display:inline-block;"  ><img src="../../../assets/images/addFacture.png"  
               style="border-radius: 10px; border-image-width: 5px;">  </button>

         
<button (click)="exportData('Facture3wmtndTable')" style="margin-left:-65em;width:1em;display:inline-block;" >
                    <img src="../../../assets/images/excel.png">
</button>

               
            
             
             
<button (click)="convertToPdf()" style="margin-left:8em;display:inline-block;"> <img src="../../../assets/images/pdfDownload.png"></button>
            </div>  
              <br>
               <hr>
<br>

    <nav class="navbar">
        <input class="form-control" type="text" name="searching" [(ngModel)]="firstn" (ngModelChange)="Search()" placeholder="Rechercher par num Po" style="width: 260px;border-radius: 20px;">
    
        <form (ngSubmit)="searchPerDate()">
            <div class="row" >    
                  
            <div class="col-sm-3 form-group" >  
                    
                <input  
                type="text"   
                [(ngModel)]="date.startdate" 
                name="start" 
                id="start" 
                placeholder="De"  
                bsDatepicker
                 class="form-control" /> 
                 
            </div>  
            <div class="col-sm-3 form-group">  
                <input type="text"   
                [(ngModel)]="date.enddate"
                name="end"  
                id="end" 
                placeholder="Au"  
                 
                bsDatepicker  
                [bsConfig]="{ isAnimated: true }"  class="form-control"/>  
            </div>    
            <div class="col-sm-3 form-group">    
                <button type="submit" class="btn btn-success" >Chercher</button>   
            </div>  
          </div> </form> 
    </nav><br>
    <table id="Facture3wmtndTable" class="table table-bordered table-light table-hover " style="width: 100%;">
        <thead>
          <tr>
            <th  (click)="sort('id')" class="cellules" style="width: 15px;">Id&nbsp;<i class="fa fa-sort" ></i></th>
            <th class="cellules">dossier</th>
            <th class="cellules">fournisseur</th>

            <th class="cellules">Status</th> 
            <th class="cellules">montant</th> 
            <th class="cellules">num facture</th>
            <th class="cellules">num PO</th>              
            <th class="cellules">Actions</th> 
          </tr>
        </thead>
    <tbody>
        <tr *ngFor="let fact of Factures3wmdevise | orderBy: key: reverse |paginate: {itemsPerPage:5,currentPage:p};">
            <td class="cellules">{{fact.id}}</td>
            <td class="cellules">{{fact.dossier}}</td>
            <td class="cellules">{{fact.fournisseur}}</td>
            <td class="cellules">{{fact.status}}</td>
            <td class="cellules">{{fact.montant}}</td>
            <td class="cellules">{{fact.num_fact}}</td>
            <td class="cellules">{{fact.num_po}}</td>
            <td class="cellules">
                <button type="button" title="Modifier" class="btn btn-light pb-modalreglog-submit"   
                (click)="factureUpdateModal(fact)" data-toggle="modal" data-target="#myModalupd"><img src="../../../assets/images/modifier.png"  
                 style="border-radius: 10px; border-image-width: 5px;">  </button>
                 
                <button type="button" title="Effacer" class="btn btn-light"   (click)="deleteFacture(fact.id)" >  <img  src="../../../assets/images/eff.png"
                      style="border-radius: 10px; border-image-width: 5px;"></button>
                      <button type="button" title="WorkFlow" class="btn btn-light" 
                      data-toggle="modal" data-target="#wfmodal"  (click)="factureWorkflow(fact)">  <img  src="../../../assets/images/workflow.png"
                           style="border-radius: 10px; border-image-width: 5px;"></button>
  
                </td>

        </tr>
    </tbody>
    <br> 
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </table>


<!--create modal-->

    <div class="container pb-modalreglog-container">
        <div class="row">
            <div class="col-xs-12 col-md-4 col-md-offset-4">
                <div class="input-group pb-modalreglog-input-group">
                </div>
                <div class="modal fade" id="myModalcr" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                  <div class="modal-dialog modal-sm" role="document" style="max-width: 80%;">
                      <div class="modal-content">
                          <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                              </button>
                          </div>
                          <div class="modal-body">
                              <form class="pb-modalreglog-form-reg">
                                  <div class="form-group">
                                      <div id="pb-modalreglog-progressbar"></div>
                                  </div>
                                 
                                  <div class="row mb-4">
                                    <div class="col">
                                        <div class="form-outline"> 
                                         <label for="devise">Devise</label>
                                         <select class="custom-select" id="devise" name="dv" 
                                          [(ngModel)]='factureToCreate.devise' required>
                                          <option>Euro</option>
                                          <option>Dollar</option>

                                         </select>
                                     </div></div>
                                  <div class="col">
                                    <div class="form-outline">
                                      <label for="dossier">Dossier</label>
                                      <div class="input-group pb-modalreglog-input-group">
                                          <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                                          <input type="text" class="form-control" id="dossier" placeholder="Dossier" name="dossier" [(ngModel)]='factureToCreate.dossier' readonly>
                                      </div>
                                  </div></div></div>
                                  <div class="row mb-4">
                                    <div class="col">
                                     <div class="form-outline">
                                        <label for="numPo">Num po</label>
                                        <div class="input-group pb-modalreglog-input-group">
                                            <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                                            <input type="text" class="form-control" id="numPo" placeholder="num po" name="numPo" [(ngModel)]='factureToCreate.num_po' 
                                            (input)="onSearchcreateChange($event.target.value)"  #nmp="ngModel" required>
                                            <div class="error" *ngIf="nmp.errors?.required && nmp.touched" 
                                            style="color:firebrick;" >Obligatoire !</div>
                                        </div>
                                </div></div>
                                <div class="col">
                                    <div class="form-outline">
                                        <label for="dp">Délai de paiement</label>
                                        <div class="input-group pb-modalreglog-input-group">
                                            <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                                            <input type="text" class="form-control" id="dp" placeholder="Délai de paiement" name="dp" [(ngModel)]='factureToCreate.delai' bsDatepicker  #dl="ngModel" required>
                                            <div class="error" *ngIf="dl.errors?.required && dl.touched" 
                                            style="color:firebrick;" >Obligatoire !</div>
                                        </div>
                                </div></div></div>
                                <div class="row mb-4">
                                    <div class="col">
                                     <div class="form-outline">

                                       <label for="fournisseur">Fournisseur</label>
                                    <div class="input-group pb-modalreglog-input-group">
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                                        <input type="text" class="form-control" id="fournisseur" placeholder="Fournisseur" name="fournisseur" [(ngModel)]='factureToCreate.fournisseur'   #fourn="ngModel" required>
                                        <div class="error" *ngIf="fourn.errors?.required && fourn.touched" 
                                        style="color:firebrick;" >Obligatoire !</div>
                                    </div>  
                                   
                                </div></div>
                                <div class="col">
                                    <div class="form-outline">
                                    <label for="Objet">Objet</label>
                                    <select class="custom-select" id="Objet" name="Objet" 
                                    [(ngModel)]='factureToCreate.objet' required>
                                       <option *ngFor="let object of objects" selected>{{object.nom}}</option>
                                     </select>
                                </div></div></div>
                                <div class="row mb-4">
                                    <div class="col">
                                     <div class="form-outline">
                                    <label for="montant">Montant</label>
                                    <div class="input-group pb-modalreglog-input-group">
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                                        <input type="text" class="form-control" id="montant" placeholder="Montant" name="montant" [(ngModel)]='factureToCreate.montant'   #mnt="ngModel" required>
                                        <div class="error" *ngIf="mnt.errors?.required && mnt.touched" 
                                        style="color:firebrick;" >Obligatoire !</div>
                                    </div>

                                   
                                </div></div>
                                <div class="col">
                                    <div class="form-outline">
                                    <label for="ifd">Id fiscale</label>
                                    <div class="input-group pb-modalreglog-input-group">
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                                        <input type="text" class="form-control" id="idf" placeholder="Id fiscale" name="idf" [(ngModel)]='factureToCreate.idfiscale'   #idf="ngModel" required>
                                        <div class="error" *ngIf="idf.errors?.required && idf.touched" 
                                        style="color:firebrick;" >Obligatoire !</div>
                                    </div>
                                </div></div></div>
                                <div class="row mb-4">
                                    <div class="col">
                                     <div class="form-outline">
                                    <label for="numf">Numéro facture</label>
                                    <div class="input-group pb-modalreglog-input-group">
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                                        <input type="text" class="form-control" id="numf" placeholder="Numéro facture" name="numf" [(ngModel)]='factureToCreate.num_fact'   #nmf="ngModel" required>
                                        <div class="error" *ngIf="nmf.errors?.required && nmf.touched" 
                                        style="color:firebrick;" >Obligatoire !</div>
                                    </div>
                                </div></div>
                                <div class="col">
                                    <div class="form-outline">
                                        <div class="input-group pb-modalreglog-input-group">
                                            <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                                            <input type="file" class="form-control" id="image" placeholder="Image" (change)="onFileChanged($event)">
                                            <input  type="button" (click)="onUploadToCreate()" value="upload">
        
                                        </div></div></div></div>

                                        <div class="row mb-4">
                                            <div class="col">
                                             <div class="form-outline">
                                                <label for="pj">Pièce jointe</label><br>
                                                  <ngx-bootstrap-multiselect [options]="myOptions" [texts]="myTexts" [settings]="mySettings"
                                                 [(ngModel)]="optionsModel" name="optionModel"></ngx-bootstrap-multiselect>

                                        </div></div>
                                        <div class="col">
                                            <div class="form-outline">
                                           </div></div></div>
 
                                 
                                   
                              </form>
                          </div>
                          <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                              <button type="button"
                              *ngIf="!nmf.errors?.required && !mnt.errors?.required  && !fourn.errors?.required &&  !dl.errors?.required  &&
                              !nmp.errors?.required && !idf.errors?.required" class="btn btn-primary" (click)="createFacture()">Créer</button>
                          </div>
                      </div>
                  </div>
              </div>
             


              <!-- update modal -->



              <div class="container pb-modalreglog-container">
                <div class="row">
                    <div class="col-xs-12 col-md-4 col-md-offset-4">
                        <div class="input-group pb-modalreglog-input-group">
                        </div>
                        <div class="modal fade" id="myModalupd" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                          <div class="modal-dialog modal-sm" role="document" style="max-width: 80%;">
                              <div class="modal-content">
                                  <div class="modal-header">
                                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                          <span aria-hidden="true">&times;</span>
                                      </button>
                                  </div>
                                  <div class="modal-body">
                                    <form class="pb-modalreglog-form-reg">
                                        <div class="form-group">
                                            <div id="pb-modalreglog-progressbar"></div>
                                        </div>
                                       
                                        <div class="row mb-4">
                                            <div class="col">
                                                <div class="form-outline"> 
                                                 <label for="devise">Devise</label>
                                                 <select class="custom-select" id="devise" name="dv" 
                                                  [(ngModel)]='factureToUpdate.devise' required>
                                                  <option>Euro</option>
                                                  <option>Dollar</option>
     
                                                 </select>
                                             </div></div>
                                        <div class="col">
                                          <div class="form-outline">
                                            <label for="dossier">Dossier</label>
                                            <div class="input-group pb-modalreglog-input-group">
                                                <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                                                <input type="text" class="form-control" id="dossier" placeholder="Dossier" name="dossier" [(ngModel)]='factureToUpdate.dossier' readonly>
                                            </div>
                                        </div></div></div>
                                        <div class="row mb-4">
                                          <div class="col">
                                           <div class="form-outline">
                                              <label for="numPo">Num po</label>
                                              <div class="input-group pb-modalreglog-input-group">
                                                  <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                                                  <input type="text" class="form-control" id="numPo" placeholder="num po" name="numPo" [(ngModel)]='factureToUpdate.num_po' 
                                                  (input)="onSearchupdateChange($event.target.value)"  #nmpup="ngModel" required>
                                                  <div class="error" *ngIf="nmpup.errors?.required && nmpup.touched" 
                                                  style="color:firebrick;" >Obligatoire !</div>
                                              </div>
                                      </div></div>
                                      <div class="col">
                                          <div class="form-outline">
                                              <label for="dp">Délai de paiement</label>
                                              <div class="input-group pb-modalreglog-input-group">
                                                  <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                                                  <input type="text" class="form-control" id="dp" placeholder="Délai de paiement" name="dp" [(ngModel)]='factureToUpdate.delai' bsDatepicker  #dlup="ngModel" required>
                                                  <div class="error" *ngIf="dlup.errors?.required && dlup.touched" 
                                                  style="color:firebrick;" >Obligatoire !</div>
                                              </div>
                                      </div></div></div>
                                      <div class="row mb-4">
                                          <div class="col">
                                           <div class="form-outline">
      
                                             <label for="fournisseur">Fournisseur</label>
                                          <div class="input-group pb-modalreglog-input-group">
                                              <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                                              <input type="text" class="form-control" id="fournisseur" placeholder="Fournisseur" name="fournisseur" [(ngModel)]='factureToUpdate.fournisseur'   #fournup="ngModel" required>
                                              <div class="error" *ngIf="fournup.errors?.required && fournup.touched" 
                                              style="color:firebrick;" >Obligatoire !</div>
                                          </div>  
                                         
                                      </div></div>
                                      <div class="col">
                                          <div class="form-outline">
                                          <label for="Objet">Objet</label>
                                          <select class="custom-select" id="Objet" name="Objet" 
                                     [(ngModel)]='factureToUpdate.objet' required>
                                        <option *ngFor="let object of objects" selected>{{object.nom}}</option>
                                      </select>
                                      </div></div></div>
                                      <div class="row mb-4">
                                          <div class="col">
                                           <div class="form-outline">
                                          <label for="montant">Montant</label>
                                          <div class="input-group pb-modalreglog-input-group">
                                              <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                                              <input type="text" class="form-control" id="montant" placeholder="Montant" name="montant" [(ngModel)]='factureToUpdate.montant'   #mntup="ngModel" required>
                                              <div class="error" *ngIf="mntup.errors?.required && mntup.touched" 
                                              style="color:firebrick;" >Obligatoire !</div>
                                          </div>
      
                                         
                                      </div></div>
                                      <div class="col">
                                          <div class="form-outline">
                                          <label for="ifd">Id fiscale</label>
                                          <div class="input-group pb-modalreglog-input-group">
                                              <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                                              <input type="text" class="form-control" id="idf" placeholder="Id fiscale" name="idf" [(ngModel)]='factureToUpdate.idfiscale'   #idfup="ngModel" required>
                                              <div class="error" *ngIf="idfup.errors?.required && idfup.touched" 
                                              style="color:firebrick;" >Obligatoire !</div>
                                          </div>
                                      </div></div></div>
                                      <div class="row mb-4">
                                          <div class="col">
                                           <div class="form-outline">
                                          <label for="numf">Numéro facture</label>
                                          <div class="input-group pb-modalreglog-input-group">
                                              <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                                              <input type="text" class="form-control" id="numf" placeholder="Numéro facture" name="numf" [(ngModel)]='factureToUpdate.num_fact'   #nmfup="ngModel" required>
                                              <div class="error" *ngIf="nmfup.errors?.required && nmfup.touched" 
                                              style="color:firebrick;" >Obligatoire !</div>
                                          </div>
                                      </div></div>
                                      <div class="col">
                                          <div class="form-outline">
                                              <div class="input-group pb-modalreglog-input-group">
                                                  <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                                                  <input type="file" class="form-control" id="image" placeholder="Image" (change)="onFileChanged($event)">
                                                  <input  type="button" (click)="onUploadToCreate()" value="upload">
              
                                              </div></div></div></div>
                                              <div class="row mb-4">
                                                <div class="col">
                                                 <div class="form-outline">
                                                    <label for="pj">Pièce jointe</label><br>
                                                <ngx-bootstrap-multiselect [options]="myOptions" [texts]="myTexts" [settings]="mySettings"
                                               [(ngModel)]="optionsModel" name="optionModel"></ngx-bootstrap-multiselect>
                                            </div></div>
                                            <div class="col">
                                                <div class="form-outline">
                                                   </div></div></div>
       
                                       
                                         
                                    </form>             </div>
                                  <div class="modal-footer">
                                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                                      <button type="button" *ngIf="!nmfup.errors?.required && !mntup.errors?.required  && !fournup.errors?.required &&  !dlup.errors?.required  &&
                                      !nmpup.errors?.required " class="btn btn-primary"  (click)="updateFacture()">Modifier</button>
                                  </div>
                              </div>
                          </div>
                      </div>
                     
                      <div class="container pb-modalreglog-container">
                        <div class="row">
                            <div class="col-xs-12 col-md-4 col-md-offset-4">
                                <div class="input-group pb-modalreglog-input-group">
                                </div>
                                <div class="modal fade" id="wfmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                  <div class="modal-dialog modal-sm" role="document" style="max-width: 90%;">
                                      <div class="modal-content">
                                          <div class="modal-header">
                                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                  <span aria-hidden="true">&times;</span>
                                              </button>
                                          </div>
                                          <div class="modal-body">
                                           
                                            
                    
                                            <div class="container">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="main-timeline">
                                                            <div class="timeline">
                                                                <a href="#" class="timeline-content">
                                                                    <div class="timeline-icon"><i class="fa fa-globe"></i></div>
                                                                    <h3 class="title">Agent trésorerie</h3>
                                                                    <ul>
                                                                        <li *ngIf="validationtreso" style="text-align: left;">Validé par l'agent trésorerie le: {{factureWfDetails.dateValidationParTreso}}</li>

                                                                    </ul>
                                                                </a>
                                                            </div>
                                                            <div class="timeline">
                                                                <a href="#" class="timeline-content">
                                                                    <div class="timeline-icon"><i class="fa fa-rocket"></i></div>
                                                                    <h3 class="title">Agent AP</h3>
                                                                    <ul>
                                                                        <li *ngIf="validationAp" style="text-align: left;">Envoyée au l'agent trésorerie le: {{factureWfDetails.datValidationParAp}}</li>
                                                                        <li *ngIf="refustreso" style="text-align: left;">Refus par l'agent trésorerie le: {{factureWfDetails.dateRefusParTreso}}</li>

                                                                    </ul>
                
                                                                </a> 
                                                            </div>
                                                            <div class="timeline">
                                                                <a href="#" class="timeline-content">
                                                                    <div class="timeline-icon"><i class="fa fa-globe"></i></div>
                                                                    <h3 class="title">Agent BOF (Bureau d'ordre financier)</h3>
                                                                   
                                                                        <ul>
                                                                            <li style="text-align: left;">Reçue le: {{factureWfDetails.datereception}}</li>
                                                                            <li *ngIf="envoieAp" style="text-align: left;">Envoyée au l'agent AP le: {{factureWfDetails.dateEnvoieAuAp}}</li>
                                                                            <li *ngIf="refusAp" style="text-align: left;">Refus par l'agent AP le: {{factureWfDetails.dateRefusParAp}}</li>

                                                                        </ul>
                    
                                                                   
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div> 
                                                </div>
                                            </div>
                    
                    
                                          </div>
                                          <div class="modal-footer">
                                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                                              <button type="button"
                                               class="btn btn-primary" >Refuser</button>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                             
                    </div></div></div>
                    
                    
                  