

   <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/admin"><img src="../../assets/images/3.svg" style="width: 90px;" ></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ">
        <li class="nav-item ">
          <a class="nav-link" href="/admin">UTILISATEURS <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="/adminfournisseurs">FOURNISSEURS <span class="sr-only">(current)</span></a>
        </li>
       
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> BORDEREAUX </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink"
          style="border-radius: 20px;">
              <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" >3WM</a>
                 <ul class="dropdown-menu" style="border-radius: 20px;">
                  <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" > STEG</a>
                      <ul class="dropdown-menu" style="border-radius: 20px;">
                      <li><a class="dropdown-item" href="Adminbordstegtnd">TND</a></li>
                      <li><a class="dropdown-item" href="Adminbordstegdevise">DEVISE</a></li>
                      </ul></li>
                      <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" >ANCE</a>
                          <ul class="dropdown-menu" style="border-radius: 20px;">
                          <li><a class="dropdown-item" href="Adminbordancetnd">TND</a></li>
                          <li><a class="dropdown-item" href="Adminbordancedevise">DEVISE</a></li>
                      </ul></li>
                          <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" >SOTETEL</a>
                              <ul class="dropdown-menu" style="border-radius: 20px;">
                              <li><a class="dropdown-item" href="Adminbordcerttnd">TND</a></li>
                              <li><a class="dropdown-item" href="Adminbordsotdevise">DEVISE</a></li>
                          </ul></li>
                              <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" >CERT</a>
                                  <ul class="dropdown-menu" style="border-radius: 20px;">
                                  <li><a class="dropdown-item" href="Adminbordcerttnd">TND</a></li>
                                  <li><a class="dropdown-item" href="Adminbordcertdevise">DEVISE</a></li>
                              </ul></li>
                                  <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" >LETTRE CREDIT</a>
                                      <ul class="dropdown-menu" style="border-radius: 20px;">
                                      <li><a class="dropdown-item" href="Adminbordlctnd">TND</a></li>
                                      <li><a class="dropdown-item" href="Adminbordlcdevise">DEVISE</a></li>
                                  </ul></li>
                                  <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" >VENTILATION DIRECTE</a>
                                      <ul class="dropdown-menu" style="border-radius: 20px;">
                                      <li><a class="dropdown-item" href="Adminbordventtnd">TND</a></li>
                                      <li><a class="dropdown-item" href="Adminbordventdevise">DEVISE</a></li>
                                   </ul></li>

                                   <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" >CHARGES LOCATIVES</a>
                                    <ul class="dropdown-menu" style="border-radius: 20px;">
                                        <li><a class="dropdown-item" href="Adminbordchlocdevise">DEVISE</a></li>
                                        <li><a class="dropdown-item" href="Adminbordchloctnd">TND</a></li>
            
                                    </ul></li>
                                
                                    <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" >DOUANE</a>
                                        <ul class="dropdown-menu" style="border-radius: 20px;">
                                            <li><a class="dropdown-item" href="Adminborddouanetnd">DEVISE</a></li>
                                            <li><a class="dropdown-item" href="Adminborddouanetnd">TND</a></li>
            
                                        </ul></li>
                                        <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" >RISTOURNE</a>
                                            <ul class="dropdown-menu" style="border-radius: 20px;">
                                                <li><a class="dropdown-item" href="Adminbordristdevise">DEVISE</a></li>
                                                <li><a class="dropdown-item" href="Adminbordristtnd">TND</a></li>
            
                                            </ul></li>
                                        <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" >OACA</a>
                                                <ul class="dropdown-menu" style="border-radius: 20px;">
                                                    <li><a class="dropdown-item" href="Adminbordoacadevise">DEVISE</a></li>
                                                    <li><a class="dropdown-item" href="AdminOaca">TND</a></li>
            
                                        </ul></li>

                  </ul></li>
             
                  
                  <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" >FISCALITÉ</a>
                    <ul class="dropdown-menu" style="border-radius: 20px;">

                        <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" >JETON DE PRÉSENCE</a>
                            <ul class="dropdown-menu" style="border-radius: 20px;">
                                <li><a class="dropdown-item" href="Adminbordjetpresdevise">DEVISE</a></li>
                                <li><a class="dropdown-item" href="Adminbordjetprestnd">TND</a></li>

                            </ul></li>
                        
                        <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" >PAIEMENT IMPOTS ET TAXES</a>
                                <ul class="dropdown-menu" style="border-radius: 20px;">
                                    <li><a class="dropdown-item" href="Adminbordpeadevise">DEVISE</a></li>
                                    <li><a class="dropdown-item" href="Adminbordpeatnd">TND</a></li>

                                </ul></li>

                        <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" >RETENUE SUR SALAIRE</a>
                                    <ul class="dropdown-menu" style="border-radius: 20px;">
                                        <li><a class="dropdown-item" href="Adminbordretsaldevise">DEVISE</a></li>
                                        <li><a class="dropdown-item" href="Adminbordretsaltnd">TND</a></li>

                         </ul></li>
                         

                             <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" >CHARGES SOCIALES</a>
                                <ul class="dropdown-menu" style="border-radius: 20px;">
                                    <li><a class="dropdown-item" href="Adminbordchsocdevise">DEVISE</a></li>
                                    <li><a class="dropdown-item" href="Adminbordchsoctnd">TND</a></li>

                     </ul></li>

                    

                        <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" >CHARGES LOCATIVES</a>
                            <ul class="dropdown-menu" style="border-radius: 20px;">
                                <li><a class="dropdown-item" href="Adminbordchlocdevise">DEVISE</a></li>
                                <li><a class="dropdown-item" href="Adminbordchloctnd">TND</a></li>

                            </ul></li>
                        
                            <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" >FISCALITÉ LOCALE</a>
                                <ul class="dropdown-menu" style="border-radius: 20px;">
                                    <li><a class="dropdown-item" href="Adminbordfiscdevise">DEVISE</a></li>
                                    <li><a class="dropdown-item" href="Adminbordfisctnd">TND</a></li>

                                </ul></li>
                                <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" >PAIEMENT ET AUTRES</a>
                                    <ul class="dropdown-menu" style="border-radius: 20px;">
                                        <li><a class="dropdown-item" href="Adminbordpeadevise">DEVISE</a></li>
                                        <li><a class="dropdown-item" href="Adminbordpeatnd">TND</a></li>

                                    </ul></li>
                                <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" >FORMATEURS INTERNES</a>
                                        <ul class="dropdown-menu" style="border-radius: 20px;">
                                            <li><a class="dropdown-item" href="Adminbordformintdevise">DEVISE</a></li>
                                            <li><a class="dropdown-item" href="Adminbordforminttnd">TND</a></li>
    
                                </ul></li>
                    </ul>
            </li>



              <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle">FINANCEMENT</a>
                  <ul class="dropdown-menu" style="border-radius: 20px;">
                      <li><a class="dropdown-item" href="Adminbordfintnd">TND</a></li>
                      <li><a class="dropdown-item" href="Adminbordfindevise">DEVISE</a></li>
                  </ul>
              </li>
              <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle">OPÉRATEUR</a>
                  <ul class="dropdown-menu" style="border-radius: 20px;">
                      <li><a class="dropdown-item" href="Adminbordoptnd">TND</a></li>
                      <li><a class="dropdown-item" href="Adminbordopdevise">DEVISE</a></li>
                  </ul>
              </li>
              <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle">FOND DE ROULEMENT</a>
                  <ul class="dropdown-menu" style="border-radius: 20px;">
                      <li><a class="dropdown-item" href="Adminbordfdtnd">TND</a></li>
                      <li><a class="dropdown-item" href="Adminbordfddevise">DEVISE</a></li>
                  </ul>
              </li>

              <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" >LETTRE CREDIT</a>
                <ul class="dropdown-menu" style="border-radius: 20px;">
                <li><a class="dropdown-item" href="Adminbordlctnd">TND</a></li>
                <li><a class="dropdown-item" href="Adminbordlcdevise">DEVISE</a></li>
            </ul></li>

            <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" >VENTILATION DIRECTE</a>
                <ul class="dropdown-menu" style="border-radius: 20px;">
                <li><a class="dropdown-item" href="Adminbordventtnd">TND</a></li>
                <li><a class="dropdown-item" href="Adminbordventdevise">DEVISE</a></li>
             </ul></li>

             <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" >REMBOURSEMENT</a>
                <ul class="dropdown-menu" style="border-radius: 20px;">
                <li><a class="dropdown-item" href="Adminbordremdevise">TND</a></li>
                <li><a class="dropdown-item" href="Adminbordremtnd">DEVISE</a></li>
            </ul></li>
             <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" >COMMISSION ET DISTRIBUTION</a>
                <ul class="dropdown-menu" style="border-radius: 20px;">
                <li><a class="dropdown-item" href="Adminbordcmdtnd">TND</a></li>
                <li><a class="dropdown-item" href="Adminbordcmddevise">DEVISE</a></li>
             </ul></li>

                  
            
          </ul>
      </li>


      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> FACTURES </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink"
        style="border-radius: 20px;">
            <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" >3WM</a>
               <ul class="dropdown-menu" style="border-radius: 20px;">
                <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" > STEG</a>
                    <ul class="dropdown-menu" style="border-radius: 20px;">
                    <li><a class="dropdown-item" href="Adminstegtnd">TND</a></li>
                    <li><a class="dropdown-item" href="Adminstegdevise">DEVISE</a></li>
                    </ul></li>
                    <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" >ANCE</a>
                        <ul class="dropdown-menu" style="border-radius: 20px;">
                        <li><a class="dropdown-item" href="Adminancetnd">TND</a></li> 
                        <li><a class="dropdown-item" href="Adminancedevise">DEVISE</a></li>
                    </ul></li>
                        <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" >SOTETEL</a>
                            <ul class="dropdown-menu" style="border-radius: 20px;">
                            <li><a class="dropdown-item" href="Adminsottnd">TND</a></li>
                            <li><a class="dropdown-item" href="Adminsotdevise">DEVISE</a></li>
                        </ul></li>
                            <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" >CERT</a>
                                <ul class="dropdown-menu" style="border-radius: 20px;">
                                <li><a class="dropdown-item" href="Admincerttnd">TND</a></li>
                                <li><a class="dropdown-item" href="Admincertdevise">DEVISE</a></li>
                            </ul></li>
                                

                                 <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" >CHARGES LOCATIVES</a>
                                    <ul class="dropdown-menu" style="border-radius: 20px;">
                                        <li><a class="dropdown-item" href="Adminchlocdevise">DEVISE</a></li>
                                        <li><a class="dropdown-item" href="Adminchloctnd">TND</a></li>
            
                                    </ul></li>
                                
                                    <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" >DOUANE</a>
                                        <ul class="dropdown-menu" style="border-radius: 20px;">
                                            <li><a class="dropdown-item" href="Admindouanedevise">DEVISE</a></li>
                                            <li><a class="dropdown-item" href="Admindouanetnd">TND</a></li>
            
                                        </ul></li>
                                        <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" >RISTOURNE</a>
                                            <ul class="dropdown-menu" style="border-radius: 20px;">
                                                <li><a class="dropdown-item" href="Adminrisdevise">DEVISE</a></li>
                                                <li><a class="dropdown-item" href="Adminristnd">TND</a></li>
            
                                            </ul></li>
                                        <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" >OACA</a>
                                                <ul class="dropdown-menu" style="border-radius: 20px;">
                                                    <li><a class="dropdown-item" href="Adminoacadevise">DEVISE</a></li>
                                                    <li><a class="dropdown-item" href="Adminoacatnd">TND</a></li>
            
                                        </ul></li>

                </ul></li>
           
                

                  
                <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" >FISCALITÉ</a>
                    <ul class="dropdown-menu" style="border-radius: 20px;">

                        <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" >JETON DE PRÉSENCE</a>
                            <ul class="dropdown-menu" style="border-radius: 20px;">
                                <li><a class="dropdown-item" href="Adminjetpresdevice">DEVISE</a></li>
                                <li><a class="dropdown-item" href="Adminjetprestnd">TND</a></li>

                            </ul></li>
                        
                        <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" >PAIEMENT IMPOTS ET TAXES</a>
                                <ul class="dropdown-menu" style="border-radius: 20px;">
                                    <li><a class="dropdown-item" href="Adminpitdevise">DEVISE</a></li>
                                    <li><a class="dropdown-item" href="Adminpittnd">TND</a></li>

                                </ul></li>

                        <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" >RETENUE SUR SALAIRE</a>
                                    <ul class="dropdown-menu" style="border-radius: 20px;">
                                        <li><a class="dropdown-item" href="Adminretsaldevise">DEVISE</a></li>
                                        <li><a class="dropdown-item" href="Adminretsaltnd">TND</a></li>

                         </ul></li>
                         <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" >LETTRE CREDIT</a>
                            <ul class="dropdown-menu" style="border-radius: 20px;">
                            <li><a class="dropdown-item" href="Adminlctnd">TND</a></li>
                            <li><a class="dropdown-item" href="Adminlcdevise">DEVISE</a></li>
                        </ul></li>

                             <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" >CHARGES SOCIALES</a>
                                <ul class="dropdown-menu" style="border-radius: 20px;">
                                    <li><a class="dropdown-item" href="Adminchsocdevise">DEVISE</a></li>
                                    <li><a class="dropdown-item" href="Adminchsoctnd">TND</a></li>

                     </ul></li>

                     <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" >VENTILATION DIRECTE</a>
                        <ul class="dropdown-menu" style="border-radius: 20px;">
                        <li><a class="dropdown-item" href="Adminfactventtnd">TND</a></li>
                        <li><a class="dropdown-item" href="Adminfactventdevise">DEVISE</a></li>
                     </ul></li>

                        <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" >CHARGES LOCATIVES</a>
                            <ul class="dropdown-menu" style="border-radius: 20px;">
                                <li><a class="dropdown-item" href="Adminchlocdevise">DEVISE</a></li>
                                <li><a class="dropdown-item" href="Adminchloctnd">TND</a></li>

                            </ul></li>
                        
                            <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" >FISCALITÉ LOCALE</a>
                                <ul class="dropdown-menu" style="border-radius: 20px;">
                                    <li><a class="dropdown-item" href="Adminfisclocdevise">DEVISE</a></li>
                                    <li><a class="dropdown-item" href="Adminfiscloctnd">TND</a></li>

                                </ul></li>
                                <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" >PAIEMENT ET AUTRES</a>
                                    <ul class="dropdown-menu" style="border-radius: 20px;">
                                        <li><a class="dropdown-item" href="Adminpitdevise">DEVISE</a></li>
                                        <li><a class="dropdown-item" href="Adminpittnd">TND</a></li>

                                    </ul></li>
                                <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" >FORMATEURS INTERNES</a>
                                        <ul class="dropdown-menu" style="border-radius: 20px;">
                                            <li><a class="dropdown-item" href="Adminformintdevise">DEVISE</a></li>
                                            <li><a class="dropdown-item" href="Adminforminttnd">TND</a></li>
    
                                </ul></li>
                    </ul>
            </li>



            <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle">FINANCEMENT</a>
                <ul class="dropdown-menu" style="border-radius: 20px;">
                    <li><a class="dropdown-item" href="adminfctfin">TND</a></li>
                    <li><a class="dropdown-item" href="Adminfactfindevise">DEVISE</a></li>
                </ul>
            </li>
            <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle">OPÉRATEUR</a>
                <ul class="dropdown-menu" style="border-radius: 20px;">
                    <li><a class="dropdown-item" href="adminfctop">TND</a></li>
                    <li><a class="dropdown-item" href="Adminfactopdevise">DEVISE</a></li>
                </ul>
            </li>
            <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle">FOND DE ROULEMENT</a>
                <ul class="dropdown-menu" style="border-radius: 20px;">
                    <li><a class="dropdown-item" href="Fondroulement">TND</a></li>
                    <li><a class="dropdown-item" href="Adminfddevise">DEVISE</a></li>
                </ul>
            </li>

            <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" >LETTRE CREDIT</a>
                <ul class="dropdown-menu" style="border-radius: 20px;">
                <li><a class="dropdown-item" href="Adminlctnd">TND</a></li>
                <li><a class="dropdown-item" href="Adminlcdevise">DEVISE</a></li>
            </ul></li>
            <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" >VENTILATION DIRECTE</a>
                <ul class="dropdown-menu" style="border-radius: 20px;">
                <li><a class="dropdown-item" href="Adminfactventtnd">TND</a></li>
                <li><a class="dropdown-item" href="Adminfactventdevise">DEVISE</a></li>
             </ul></li>
                
             <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" >COMMISSION ET DISTRIBUTION</a>
                <ul class="dropdown-menu" style="border-radius: 20px;">
                <li><a class="dropdown-item" href="FactureComdist">TND</a></li>
                <li><a class="dropdown-item" href="Adminfactcomddevise">DEVISE</a></li>
             </ul></li>
        </ul>
    </li> 


        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            AUTRES
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" style="border-radius: 20px;">
            <li><a class="dropdown-item" data-toggle="modal" data-target="#objectModal" >Objet</a></li>
            <li><a class="dropdown-item" data-toggle="modal" data-target="#pieceModal" >Pièce jointe</a></li>
          </ul>
        </li>
        
      </ul>
      
    </div>
    <div class="collapse navbar-collapse" id="navbarNavDropdown2">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" style="font-style:italic;color: rgb(90, 87, 87);" ><b>{{connectedUser.profil}} :</b> 
              <i style="width: 40px;">  Connecté(e) en tant que: {{connectedUser.matricule}} </i> 
          <button type="button"  class="btn btn-white pb-modalreglog-submit"   
           data-toggle="modal" data-target="#myModalcpt"> <img [src]="completedImage" style="width: 60px;height:60px;border-radius: 30px;"/></button></a>
        </li></ul>
  </div>

  </nav>


  <div class="container pb-modalreglog-container">
    <div class="row">
        <div class="col-xs-12 col-md-4 col-md-offset-4">
            <div class="input-group pb-modalreglog-input-group">
            </div>
            <div class="modal fade" id="myModalcpt" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-sm" role="document" style="max-width: 30%;">
                  <div class="modal-content">
                      <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                               <span aria-hidden="true">&times;</span>
                           </button>
                      </div>
                      
                      <div class="modal-footer">
                          <button type="button" class="btn btn-primary" 
                          data-toggle="modal" data-target="#updateUserModal" >Compte</button>
                          <button type="button" class="btn btn-secondary" 
                          data-toggle="modal" data-target="#myModalsur" data-dismiss="modal">Déconnexion</button>
                      </div>
                  </div>
              </div>
          </div>
         

          <div class="container pb-modalreglog-container">
            <div class="row">
                <div class="col-xs-12 col-md-4 col-md-offset-4">
                    <div class="input-group pb-modalreglog-input-group">
                    </div>
                    <div class="modal fade" id="myModalsur" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                      <div class="modal-dialog modal-sm" role="document" style="max-width: 30%;">
                          <div class="modal-content">
                              <div class="modal-header">
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                       <span aria-hidden="true">&times;</span>
                                   </button>
                              </div>

                              <div class="modal-body">
                                <h4 style="text-align: center;">Êtes-vous sûr?</h4>
                              
                              <div class="modal-footer">
                                  <button type="button" class="btn btn-secondary" data-dismiss="modal"  >Non</button>
                                  <button type="button" class="btn btn-primary" (click)="disconnected()" routerLink="/" data-dismiss="modal" >Oui</button>
                              </div>
                          </div>
                      </div>
                  </div>
</div></div></div></div>



 


                  <div class="container pb-modalreglog-container" >
                    <div class="row">
                        <div class="col-xs-12 col-md-4 col-md-offset-4">
                            <div class="input-group pb-modalreglog-input-group">
                            </div>
                            <div class="modal fade" id="updateUserModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                              <div class="modal-dialog modal-sm" role="document" style="max-width: 80%;">
                                  <div class="modal-content">
                                      <div class="modal-header">
                                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                              <span aria-hidden="true">&times;</span>
                                          </button>
                                      </div>
                                      <div class="modal-body">
                                          <form class="pb-modalreglog-form-reg" >
                                            <div class="row mb-4">
                                                   <div class="col">
                                                    <div class="form-outline">   
                                                  <label for="id">Id</label>
                                                  <div class="input-group pb-modalreglog-input-group">
                                                      <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                                                      <input type="text" class="form-control" id="id" placeholder="Id" name="id" [(ngModel)]='connectedUser.id' readonly>
                                                  </div></div></div>
                                               
                                                  <div class="col">
                                                    <div class="form-outline"> 
                                                  <label for="createdBy">Créé par</label>
                                                  <div class="input-group pb-modalreglog-input-group">
                                                      <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                                                      <input type="text" class="form-control" id="createdBy" placeholder="Créé par" name="createdBy"  [(ngModel)]='connectedUser.created_by'
                                                      #cb="ngModel" required  >
                                                      <br>
                                                      <br>
                                                       <div class="error" *ngIf="cb.errors?.required && cb.touched" 
                                                       style="color:firebrick;" >Obligatoire !</div>
                                                  </div>
                                              </div></div></div>
            
                                              <div class="row mb-4">
                                                <div class="col">
                                                  <div class="form-outline"> 
                                                  <label for="direction">Direction</label>
                                                  <div class="input-group pb-modalreglog-input-group">
                                                      <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                                                      <input type="text" class="form-control" id="direction" placeholder="Direction" name="direction" [(ngModel)]='connectedUser.direction'
                                                      #dir="ngModel" required>
                                                      <div class="error" *ngIf="dir.errors?.required && dir.touched" 
                                                       style="color:firebrick;" >Obligatoire !</div>
                                                  </div>
                                              </div></div>
                                                <div class="col">
                                                  <div class="form-outline"> 
                                                  <label for="email">Email</label>
                                                  <div class="input-group pb-modalreglog-input-group">
                                                      <span class="input-group-addon"><span class="glyphicon glyphicon-globe"></span></span>
                                                      <input type="email" class="form-control" id="email" placeholder="Email" name="email" [(ngModel)]='connectedUser.email'
                                                      #em="ngModel" required>
                                                      <div class="error" *ngIf="em.errors?.required && em.touched" 
                                                       style="color:firebrick;" >Obligatoire !</div>
                                                  </div>
                                              </div></div></div>
            
                                              <div class="row mb-4">
                                                <div class="col">
                                                  <div class="form-outline">
                                                <label for="matricule">Matricule</label>
                                                <div class="input-group pb-modalreglog-input-group">
                                                    <span class="input-group-addon"><span class="glyphicon glyphicon-globe"></span></span>
                                                    <input type="text" class="form-control" id="matricule" placeholder="Matricule" name="matricule" [(ngModel)]='connectedUser.matricule'
                                                    #mtr="ngModel" required>
                                                    <div class="error" *ngIf="em.errors?.required && em.touched" 
                                                       style="color:firebrick;" >Obligatoire !</div>
                                                </div>
                                            </div></div>
                                            <div class="col">
                                                <div class="form-outline">
                                                <label for="password">Mot de passe</label>
                                                <div class="input-group pb-modalreglog-input-group">
                                                    <span class="input-group-addon"><span class="glyphicon glyphicon-globe"></span></span>
                                                    <input type="text" class="form-control" id="password" placeholder="Mot de passe" name="password" [(ngModel)]='connectedUser.password'
                                                    #psswd="ngModel" required>
                                                    <div class="error" *ngIf="psswd.errors?.required && psswd.touched" 
                                                       style="color:firebrick;" >Obligatoire !</div> 
                                                </div>
                                            </div>
                                            </div></div>
                                            <div class="row mb-4">
                                            <div class="col">
                                                <div class="form-outline">
                                                <label for="phone">Téléphone</label>
                                                <div class="input-group pb-modalreglog-input-group">
                                                    <span class="input-group-addon"><span class="glyphicon glyphicon-globe"></span></span>
                                                    <input type="text" class="form-control" id="phone" placeholder="Téléphone" name="phone" [(ngModel)]='connectedUser.phone'>
                                                </div>
                                            </div></div>
                                            <div class="col">
                                                <div class="form-outline">
                                                <label for="profil">Profil</label>
                                                <div class="input-group pb-modalreglog-input-group">
                                                    <span class="input-group-addon"><span class="glyphicon glyphicon-globe"></span></span>
                                                    <input type="text" class="form-control" id="profil" placeholder="Profil" name="profil" [(ngModel)]='connectedUser.profil'
                                                    #prf="ngModel" required>
                                                    <div class="error" *ngIf="prf.errors?.required && prf.touched" 
                                                       style="color:firebrick;" >Obligatoire !</div>
                                                </div>
                                            </div></div></div>
                                            <div class="row mb-4">
                                                <div class="col">
                                                    <div class="form-outline">
                                                    <label for="nom">Nom</label>
                                                    <div class="input-group pb-modalreglog-input-group">
                                                        <span class="input-group-addon"><span class="glyphicon glyphicon-globe"></span></span>
                                                        <input type="text" class="form-control" id="nom" placeholder="Nom" name="nom" [(ngModel)]='connectedUser.name'
                                                        #nm="ngModel" required>
                                                        <div class="error" *ngIf="nm.errors?.required && nm.touched" 
                                                        style="color:firebrick;" >Obligatoire !</div>
                                                    </div>
                                                </div></div>
                                                <div class="col">
                                                    <div class="form-outline">
                                                <div class="input-group pb-modalreglog-input-group">
                                                    <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                                                    <input type="file" class="form-control" id="image" placeholder="Image" (change)="onFileChanged($event)">
                                                    <input *ngIf="!uploadedSuccessfullyToUpdate" type="button" (click)="onUploadToUpdate()" value="upload">
                                                    <div class="error" *ngIf="notImageToUpdate" style="color:firebrick;"> Le fichier doit être une image !</div>
                
                                                </div></div></div>
                                           </div>
            
                                        
                                            
                                          </form>
                                      </div>
                                      <div class="modal-footer">
                                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                                          <button type="button" class="btn btn-primary" (click)="updateUser()"
                                          *ngIf="!notImageToUpdate  && !psswd.errors?.required && !mtr.errors?.required">Modifier</button>
                                      </div>
                                  </div>
                              </div>
                          </div>
            
            </div></div></div>

<br>

<div class="container pb-modalreglog-container">
  <div class="row">
      <div class="col-xs-12 col-md-4 col-md-offset-4">
          <div class="input-group pb-modalreglog-input-group">
          </div>
          <div class="modal fade" id="objectModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-sm" role="document" style="max-width: 30%;">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                      <form class="pb-modalreglog-form-reg" >
                        <div class="form-group">
                            <label for="nom">NOM:</label>
                            <input type="text" class="form-control" id="nom" [(ngModel)]='object.nom' name="name"
                             #oname="ngModel" placeholder="Nom de l'objet" required>
                            <div class="error" *ngIf="oname.errors?.required && oname.touched " style="color:firebrick;">Nom obligatoire !</div>
                          </div>
                        
                      </form>
                    
                    </div>
                    <div class="modal-footer">
                        <div class="tools">
                      <button (click)="createObject()" class="btn btn-primary" >Créer
                          </button>
                  </div>
                    </div>
                </div>
            </div>
        </div>
       
       </div></div></div>



       <div class="container pb-modalreglog-container">
        <div class="row">
            <div class="col-xs-12 col-md-4 col-md-offset-4">
                <div class="input-group pb-modalreglog-input-group">
                </div>
                <div class="modal fade" id="pieceModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                  <div class="modal-dialog modal-sm" role="document" style="max-width: 30%;">
                      <div class="modal-content">
                          <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                              </button>
                          </div>
                          <div class="modal-body">
      
                            <form class="pb-modalreglog-form-reg" >
                              <div class="form-group">
                                  <label for="nom">NOM:</label>
                                  <input type="text" class="form-control" id="nom" [(ngModel)]='piece.name' name="name"
                                   #pname="ngModel" placeholder="Nom du pièce jointe" required>
                                  <div class="error" *ngIf="pname.errors?.required && pname.touched " style="color:firebrick;">Nom obligatoire !</div>
                                </div>
                              
                            </form>
                          
                          </div>
                          <div class="modal-footer">
                              <div class="tools">
                            <button (click)="createPiece()" class="btn btn-primary" >Créer
                                </button>
                        </div>
                          </div>
                      </div>
                  </div>
              </div>
             
             </div></div></div>
      
  