.tools button {
    background-color: transparent;
    border: 1px solid rgb(252, 249, 249);
    border-radius: 2px;
    margin: 0 5px;
}
.tools button label {
    cursor: pointer;
}
.tools button span {
    display: inline-block;
    font-size: 18px;
    color: #1d6741;
}
.tools button small {
    vertical-align: 4px;
}
.cellules{
    text-align: center;
}

