<app-agent-bo></app-agent-bo>
<br>
<div class="tools">
<button type="button" title="Créer" class="btn btn-light pb-modalreglog-submit" (click)="factureCreateModal(factureToCreate)" data-toggle="modal" data-target="#myModalcr"
style="margin-left:70em;width:1em;display:inline-block;"  ><img src="../../../assets/images/addFacture.png"  
               style="border-radius: 10px; border-image-width: 5px;">  </button>

         
<button (click)="exportData('Facture3wmtndTable')" style="margin-left:-65em;width:1em;display:inline-block;" >
                    <img src="../../../assets/images/excel.png">
</button>

              
            
             
             
<button (click)="convertToPdf()" style="margin-left:8em;display:inline-block;"> <img src="../../../assets/images/pdfDownload.png"></button>
            </div>  
              <br>
               <hr>
<br>
 
    <nav class="navbar">
        <input class="form-control" type="text" name="searching" [(ngModel)]="firstn" (ngModelChange)="Search()" placeholder="Rechercher par Créateur" style="width: 260px;border-radius: 20px;">
        
        <form (ngSubmit)="searchPerDate()">
            <div class="row" >    
                  
            <div class="col-sm-3 form-group" >  
                    
                <input  
                type="text"   
                [(ngModel)]="date.startdate" 
                name="start" 
                id="start" 
                placeholder="De"  
                bsDatepicker
                 class="form-control" /> 
                 
            </div>  
            <div class="col-sm-3 form-group">  
                <input type="text"   
                [(ngModel)]="date.enddate"
                name="end"  
                id="end" 
                placeholder="Au"  
                 
                bsDatepicker  
                [bsConfig]="{ isAnimated: true }"  class="form-control"/>  
            </div>    
            <div class="col-sm-3 form-group">    
                <button type="submit" class="btn btn-success" >Chercher</button>   
            </div>  
          </div> </form>
    </nav><br>
    <table id="Facture3wmtndTable" class="table table-bordered table-light table-hover " style="width: 100%;">
        <thead>
          <tr>
            <th  (click)="sort('id')" class="cellules" style="width: 15px;">Id&nbsp;<i class="fa fa-sort" ></i></th>
            <th class="cellules">dossier</th>
            <th class="cellules">fournisseur</th>

            <th class="cellules">Status</th> 
            <th class="cellules">montant</th> 
            <th class="cellules">num facture</th>
            <th class="cellules">num PO</th>              
            <th class="cellules">Actions</th> 
          </tr>
        </thead>
    <tbody>
        <tr *ngFor="let fact of Factures3wmTnd | orderBy: key: reverse |paginate: {itemsPerPage:5,currentPage:p};">
            <td class="cellules">{{fact.id}}</td>
            <td class="cellules">{{fact.dossier}}</td>
            <td class="cellules">{{fact.fournisseur}}</td>
            <td class="cellules">{{fact.status}}</td>
            <td class="cellules">{{fact.montant}}</td>
            <td class="cellules">{{fact.numFacture}}</td>
            <td class="cellules">{{fact.num_po}}</td>
            <td class="cellules">
                <button type="button" title="Modifier" class="btn btn-light pb-modalreglog-submit"   
                (click)="factureUpdateModal(fact)" data-toggle="modal" data-target="#myModalupd"><img src="../../../assets/images/modifier.png"  
                 style="border-radius: 10px; border-image-width: 5px;">  </button>
                 
                <button type="button" title="Effacer" class="btn btn-light"   (click)="deleteFacture(fact.id)" >  <img  src="../../../assets/images/eff.png"
                      style="border-radius: 10px; border-image-width: 5px;"></button>
                </td>

        </tr>
    </tbody>
    <br> 
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </table>


<!--create modal-->

    <div class="container pb-modalreglog-container">
        <div class="row">
            <div class="col-xs-12 col-md-4 col-md-offset-4">
                <div class="input-group pb-modalreglog-input-group">
                </div>
                <div class="modal fade" id="myModalcr" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                  <div class="modal-dialog modal-sm" role="document" style="max-width: 80%;">
                      <div class="modal-content">
                          <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                              </button>
                          </div>
                          <div class="modal-body">
                              <form class="pb-modalreglog-form-reg">
                                  <div class="form-group">
                                      <div id="pb-modalreglog-progressbar"></div>
                                  </div>
                                 
                                  <div class="row mb-4">
                                    <div class="col">
                                     <div class="form-outline"> 
                                        <label for="op">OP</label>
                                    <div class="input-group pb-modalreglog-input-group">
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                                        <input type="text" class="form-control" id="op" placeholder="Ordre de paiement"
                                         name="ordrep" [(ngModel)]='factureToCreate.ordrep'  #op="ngModel" required>
                                         <div class="error" *ngIf="op.errors?.required && op.touched" 
                                         style="color:firebrick;" >Obligatoire !</div>
                                    </div>
                                  </div></div>
                                  <div class="col">
                                    <div class="form-outline">
                                      <label for="dossier">Type</label>
                                      <div class="input-group pb-modalreglog-input-group">
                                          <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                                          <input type="text" class="form-control" id="dossier" placeholder="Dossier" name="dossier" 
                                          [(ngModel)]='factureToCreate.dossier' readonly  #type="ngModel" required>
                                          <div class="error" *ngIf="type.errors?.required && type.touched" 
                                          style="color:firebrick;" >Obligatoire !</div>
                                      </div>
                                  </div></div></div>
                                  <div class="row mb-4">
                                    <div class="col">
                                        <div class="form-outline">
                                        <label for="structure">Structure ordinatrice</label>
                                        <select class="custom-select" id="structure" name="strc" 
                                        [(ngModel)]='factureToCreate.structure' required>
                                           <option >Direction exécutive facturation et récouvrement</option>
   
                                         </select>
                                   </div></div>
                                <div class="col">
                                    <div class="form-outline">
                                    <label for="montant">Montant</label>
                                    <div class="input-group pb-modalreglog-input-group">
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                                        <input type="text" class="form-control" id="montant" placeholder="Montant" name="montant" 
                                        [(ngModel)]='factureToCreate.montant'  #montant="ngModel" required>
                                        <div class="error" *ngIf="montant.errors?.required && montant.touched" 
                                        style="color:firebrick;" >Obligatoire !</div>
                                    </div>
                                </div></div></div> 
                                <div class="row mb-4">
                                    <div class="col">
                                     <div class="form-outline"> 
                                        <label for="beneficiaire">Bénéficiaire</label>
                                    <div class="input-group pb-modalreglog-input-group">
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                                        <input type="text" class="form-control" id="beneficiaire" placeholder="Bénéficaire"
                                         name="beneficiaire" [(ngModel)]='factureToCreate.beneficiaire'  #bnf="ngModel" required>
                                         <div class="error" *ngIf="bnf.errors?.required && bnf.touched" 
                                         style="color:firebrick;" >Obligatoire !</div>
                                    </div>
                                  </div></div>
                                  <div class="col">
                                    <div class="form-outline">
                                      <label for="datereception">Date de réception</label>
                                      <div class="input-group pb-modalreglog-input-group">
                                          <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                                          <input type="text" class="form-control" bsDatepicker id="datereception" placeholder="Date de réception" 
                                          name="dtrec" [(ngModel)]='factureToCreate.datereception'  #dtrc="ngModel" required>
                                          <div class="error" *ngIf="dtrc.errors?.required && dtrc.touched" 
                                          style="color:firebrick;" >Obligatoire !</div>
                                      </div>
                                  </div></div></div>
                                  <div class="row mb-4">
                                    <div class="col">
                                     <div class="form-outline"> 
                                        <label for="dateop">Date OP</label>
                                    <div class="input-group pb-modalreglog-input-group">
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                                        <input type="text" class="form-control" bsDatepicker id="dateop" placeholder="Date ordre de paiement"
                                         name="datepo" [(ngModel)]='factureToCreate.datepo'  #dtop="ngModel" required>
                                         <div class="error" *ngIf="dtop.errors?.required && dtop.touched" 
                                         style="color:firebrick;" >Obligatoire !</div>
                                    </div>
                                  </div></div>
                                  <div class="col">
                                    <div class="form-outline">
                                    <label for="structure">Direction</label>
                                    <select class="custom-select" id="structure" name="strc" 
                                    [(ngModel)]='factureToCreate.direction' required>
                                       <option >Direction exécutive facturation et récouvrement</option>

                                     </select>
                               </div></div></div>

                                <div class="row mb-4">
                                    <div class="col">
                                     <div class="form-outline">
                                     <label for="devise">Devise</label>
                                     <select class="custom-select" id="devise" name="dvs" 
                                     [(ngModel)]='factureToCreate.devise' required>
                                        <option >Euro</option>
                                        <option >Dollar</option>

                                      </select>
                                </div></div>
                                <div class="col">
                                    <div class="form-outline">
                                        <label for="Objet">Objet</label>
                                        <select class="custom-select" id="Objet" name="Objet" 
                                        [(ngModel)]='factureToCreate.objet' required>
                                           <option *ngFor="let object of objects" selected>{{object.nom}}</option>
                                         </select>
                                </div></div></div>
 
                                <div class="row mb-4">
                                    <div class="col">
                                     <div class="form-outline">
                                        <label for="pj">Pièce jointe</label><br>
                                                  <ngx-bootstrap-multiselect [options]="myOptions" [texts]="myTexts" [settings]="mySettings"
                                                 [(ngModel)]="optionsModel" name="optionModel" #pj="ngModel" required></ngx-bootstrap-multiselect  >
                                                 <div class="error" *ngIf="pj.errors?.required && pj.touched" 
                                                 style="color:firebrick;" >Obligatoire !</div>
                                </div></div>
                                <div class="col">
                                    <div class="form-outline">
                                        
                                </div></div>
                                
                         
                            </div>
                              </form>
                          </div>
                          <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                              <button type="button" class="btn btn-primary" *ngIf="!op.errors?.required && 
                              !type.errors?.required && !montant.errors?.required && !bnf.errors?.required && !dtrc.errors?.required &&
                              !dtop.errors?.required && !pj.errors?.required 
                              " (click)="createFacture()">Créer</button>
                          </div>
                      </div>
                  </div>
              </div>
              


              <!-- update modal -->



              <div class="container pb-modalreglog-container">
                <div class="row">
                    <div class="col-xs-12 col-md-4 col-md-offset-4">
                        <div class="input-group pb-modalreglog-input-group">
                        </div>
                        <div class="modal fade" id="myModalupd" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                          <div class="modal-dialog modal-sm" role="document" style="max-width: 80%;">
                              <div class="modal-content">
                                  <div class="modal-header">
                                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                           <span aria-hidden="true">&times;</span>
                                      </button>
                                  </div>
                                  <div class="modal-body">
                                    <form class="pb-modalreglog-form-reg">
                                        <div class="form-group">
                                            <div id="pb-modalreglog-progressbar"></div>
                                        </div>
                                       
                                        <div class="row mb-4">
                                          <div class="col">
                                           <div class="form-outline"> 
                                              <label for="op">OP</label>
                                          <div class="input-group pb-modalreglog-input-group">
                                              <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                                              <input type="text" class="form-control" id="op" placeholder="Ordre de paiement"
                                               name="ordrep" [(ngModel)]='factureToUpdate.ordrep'  #opup="ngModel" required>
                                               <div class="error" *ngIf="opup.errors?.required && opup.touched" 
                                               style="color:firebrick;" >Obligatoire !</div>
                                          </div>
                                        </div></div>
                                        <div class="col">
                                          <div class="form-outline">
                                            <label for="dossier">Type</label>
                                            <div class="input-group pb-modalreglog-input-group">
                                                <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                                                <input type="text" class="form-control" id="dossier" placeholder="Dossier" name="dossier" 
                                                [(ngModel)]='factureToUpdate.dossier' readonly  #typeup="ngModel" required>
                                                <div class="error" *ngIf="typeup.errors?.required && typeup.touched" 
                                                style="color:firebrick;" >Obligatoire !</div>
                                            </div>
                                        </div></div></div>
                                        <div class="row mb-4">
                                          <div class="col">
                                              <div class="form-outline">
                                              <label for="structure">Structure ordinatrice</label>
                                              <select class="custom-select" id="structure" name="strc" 
                                              [(ngModel)]='factureToUpdate.structure' required>
                                                 <option >Direction exécutive facturation et récouvrement</option>
         
                                               </select>
                                         </div></div>
                                      <div class="col">
                                          <div class="form-outline">
                                          <label for="montant">Montant</label>
                                          <div class="input-group pb-modalreglog-input-group">
                                              <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                                              <input type="text" class="form-control" id="montant" placeholder="Montant" name="montant" 
                                              [(ngModel)]='factureToUpdate.montant'  #montantup="ngModel" required>
                                              <div class="error" *ngIf="montantup.errors?.required && montantup.touched" 
                                              style="color:firebrick;" >Obligatoire !</div>
                                          </div>
                                      </div></div></div> 
                                      <div class="row mb-4">
                                          <div class="col">
                                           <div class="form-outline"> 
                                              <label for="beneficiaire">Bénéficiaire</label>
                                          <div class="input-group pb-modalreglog-input-group">
                                              <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                                              <input type="text" class="form-control" id="beneficiaire" placeholder="Bénéficaire"
                                               name="beneficiaire" [(ngModel)]='factureToUpdate.beneficiaire'  #benup="ngModel" required>
                                               <div class="error" *ngIf="benup.errors?.required && benup.touched" 
                                               style="color:firebrick;" >Obligatoire !</div>
                                          </div>
                                        </div></div>
                                        <div class="col">
                                          <div class="form-outline">
                                            <label for="datereception">Date de réception</label>
                                            <div class="input-group pb-modalreglog-input-group">
                                                <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                                                <input type="text" class="form-control" bsDatepicker id="datereception" placeholder="Date de réception" 
                                                name="dtrec" [(ngModel)]='factureToUpdate.datereception'  #dtrcup="ngModel" required>
                                                <div class="error" *ngIf="dtrcup.errors?.required && dtrcup.touched" 
                                                style="color:firebrick;" >Obligatoire !</div>
                                            </div>
                                        </div></div></div>
                                        <div class="row mb-4">
                                          <div class="col">
                                           <div class="form-outline"> 
                                              <label for="dateop">Date OP</label>
                                          <div class="input-group pb-modalreglog-input-group">
                                              <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                                              <input type="text" class="form-control" bsDatepicker id="dateop" placeholder="Date ordre de paiement"
                                               name="datepo" [(ngModel)]='factureToUpdate.datepo'  #dtopup="ngModel" required>
                                               <div class="error" *ngIf="dtopup.errors?.required && dtopup.touched" 
                                               style="color:firebrick;" >Obligatoire !</div>
                                          </div>
                                        </div></div>
                                        <div class="col">
                                          <div class="form-outline">
                                          <label for="structure">Direction</label>
                                          <select class="custom-select" id="structure" name="strc" 
                                          [(ngModel)]='factureToUpdate.direction' required>
                                             <option >Direction exécutive facturation et récouvrement</option>
      
                                           </select>
                                     </div></div></div>
      
                                      <div class="row mb-4">
                                          <div class="col">
                                           <div class="form-outline">
                                           <label for="devise">Devise</label>
                                           <select class="custom-select" id="devise" name="dvs" 
                                           [(ngModel)]='factureToUpdate.devise' required>
                                              <option >Euro</option>
                                              <option >Dollar</option>
      
                                            </select>
                                      </div></div>
                                      <div class="col">
                                          <div class="form-outline">
                                              <label for="Objet">Objet</label>
                                              <select class="custom-select" id="Objet" name="Objet" 
                                              [(ngModel)]='factureToUpdate.objet' required>
                                                 <option *ngFor="let object of objects" selected>{{object.nom}}</option>
                                               </select>
                                      </div></div></div>
       
                                      <div class="row mb-4">
                                          <div class="col">
                                           <div class="form-outline">
                                              <label for="pj">Pièce jointe</label><br>
                                                        <ngx-bootstrap-multiselect [options]="myOptions" [texts]="myTexts" [settings]="mySettings"
                                                       [(ngModel)]="optionsModel" name="optionModel" #pjup="ngModel" required></ngx-bootstrap-multiselect>
                                                       <div class="error" *ngIf="pjup.errors?.required && pjup.touched" 
                                                       style="color:firebrick;" >Obligatoire !</div>
                                      </div></div>
                                      <div class="col">
                                          <div class="form-outline">
                                              
                                      </div></div>
                                      
                               
                                  </div>
                                    </form>
                                  </div>
                                  <div class="modal-footer">
                                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                                      <button type="button" class="btn btn-primary" (click)="updateFacture()"
                                      *ngIf="!op.errors?.required && 
                              !typeup.errors?.required && !montantup.errors?.required && !benup.errors?.required && !dtrcup.errors?.required &&
                              !dtopup.errors?.required && !pjup.errors?.required ">Modifier</button>
                                  </div>
                              </div>
                          </div>
                      </div>
                     
        